.announcementProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  margin: 10px;
  z-index: 1;
  padding: 20px;
  width: 100%;
}
.announcementProduct__title {
  font-size: 17px;
  font-weight: 800;
}
.announcementProduct__date {
  padding-left: 20px;
}
.announcementProduct__todate {
  padding-left: 38px;
}
